<div class="center jumbotron">
  <h1>Find your next experience !</h1>

  <h2>
    Discover amazing event or create your own !
  </h2>

  <%= link_to "Sign up now !", signup_path, class: "btn btn-lg btn-primary" %>
</div>

